<h1>Table of Contents</h1>

<nav class="mt-4">
  <ul class="list-disc list-inside">
    <li>
      <.link patch={~p"/alerts"}>Alerts</.link>
    </li>
    <li>
      <.link patch={~p"/bus"}>Bus</.link>
    </li>
    <li>
      <.link patch={~p"/alerts-to-close"}>Alerts to Close</.link>
    </li>
  </ul>
</nav>
