_build
cover
erl_crash.dump
deps
*.ez
priv/static/
.deliver/releases/
devops/
test/support/fixtures/vcr_cassettes/*
.iex.exs
.DS_Store

.dockerignore
.git
.gitignore
.log
tmp
.deliver
devops
docker
releases
