API_KEY=
API_URL=https://api-dev.mbtace.com/
SWIFTLY_AUTHORIZATION_KEY=
SWIFTLY_REALTIME_VEHICLES_URL=https://api.goswift.ly/real-time/mbta-bus/vehicles?verbose=true
export TRIP_UPDATES_URL=https://cdn.mbta.com/realtime/TripUpdates_enhanced.json
