<.header>
  Bus Routes
</.header>

<.table id="bus-routes" rows={@bus_routes}>
  <:col :let={route} label="Name">
    <%= Route.name(route) %>
  </:col>
  <:col :let={route} label="Current Alert">
    <.alert_icon :if={current_alert?(route, @bus_alerts)} />
  </:col>
</.table>
